<div class="container">
  <h3><%= current_user.email %></h3>
  <h5><%= @user.name %></h5>
  <p>
    <%= @user.address %>
    <%= @user.city %>,
    <%= @user.state %>,
    <%= @user.zip %>
  </p>

  <p><%= link_to "Edit my Profile", profile_edit_path, class: "btn" %></p>
  <p><%= link_to "My Orders", profile_orders_path, class: "btn" if !@user.orders.empty? %></p>

</div>
