<h1>Logged in as: <%= current_user.email %></h1>
<%= @user.name %>
<%= @user.email %>
<%= @user.address %>
<%= @user.city %>
<%= @user.state %>
<%= @user.zip %>

<%= link_to "My Orders", profile_orders_path if !@user.orders.empty? %>

<%= link_to "Edit my Profile", profile_edit_path %>
