
<%= @merchants.each do |merchant| %>
  <section id="merchant-<%= merchant.id %>" >
    <%= merchant.name %>
    <%= merchant.city %>
    <%= merchant.state %>
    <%= merchant.created_at %>
    <%= Date.strptime(merchant.created_at.to_s) %>
  </section>
<% end %>
