<div class="container">
<h2 class="center-align">All Merchants</h2>

<div class="merchants">
  <div class="row">
    <div class="col s4">
      <% @merch_left.each do |merchant| %>
        <div class="merchant-<%=merchant.id%> card hoverable-dark red">
          <div class="card-content">
            <span class="card-title">
              <%=current_admin? ? link_to(merchant.name, admin_merchant_path(merchant)) : merchant.name %>
            </span>
            <p>
            From: <%= merchant.city %>, <%= merchant.state %><br>
            Date joined: <%= merchant.created_at.to_formatted_s(:long).slice(0...-6) %>
            </p>

            <!-- current_admin? activate/deactivate merchant -->
            <% if current_admin? %>
              <div class="card-action">
                <a href="#">Activate</a>
                <a href="#">Edit</a>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<h2> Merchants Stats </h2>
<section id="merchant-stats">
  <div id="top-3-revenue">
    Top 3 Revenue:<br>
    <% @merchants_top_three_revenue.each do |merchant| %>
      <%= merchant.name %>:
      $<%= '%2f' % merchant.revenue %><br>
    <% end %><br>
  </div>

  <div id="top-3-fulfillments">
    Top 3 Fastest Fulfillments:<br>
    <% @merchants_quickest_fulfillments.each do |merchant| %>
      <%= merchant.name %>:
      <%= merchant.fulfillment_time %><br>
    <% end %><br>
  </div>

  <div id="bottom-3-fulfillments">
    Top 3 Slowest Fulfillments:<br>
    <% @merchants_slowest_fulfillments.each do |merchant| %>
      <%= merchant.name %>:
      <%= merchant.fulfillment_time %><br>
    <% end %><br>
  </div>

  <div id="top-3-states">
    Top 3 States:<br>
    <% @merchants_top_three_states.each do |merchant| %>
      <%= merchant.state %>:
      <%= merchant.state_order_count %> orders<br>
    <% end %><br>
  </div>

  <div id="top-3-cities">
    Top 3 Cities:<br>
    <% @merchants_top_three_cities.each do |merchant| %>
      <%= merchant.city %>:
      <%= merchant.city_order_count %> orders<br>
    <% end %><br>
  </div>

  <div id="top-3-orders">
    Top 3 Orders with Most Items:<br>
    <% @top_three_orders.each do |order| %>
      Order #<%= order.id.to_s %>:
      <%= order.order_item_quantity %> items<br>
    <% end %><br>
  </div>

</section>
</div>
