<div class="container">
<h4><%="Logged in as: " if @dashboard%><%= @merchant.name %> (<%= @merchant.email %>)</h4>
<p style="margin-bottom: 2rem">
  <%= @merchant.address %><br>
  <%= @merchant.city %>,
  <%= @merchant.state %>
  <%= @merchant.zip %>
</p>

<%= link_to "Edit my Profile", profile_edit_path, class: "btn", style: "margin-bottom: 2rem" if @dashboard %>
<%= link_to "View All Items", merchant_dashboard_items_path, class: "btn", style: "margin-bottom: 2rem" if @dashboard %>

<% if current_admin? %>
  <%= button_to "Downgrade to User", admin_merchant_downgrade_path(@merchant), method: :patch, class: "btn" %>
<% end %>

<% if @dashboard %>
  <h4>Your Orders</h4>
  <div class="row">
    <div class="col s4">
      <% @orders_left.each do |order| %>
        <div class="card-panel red">

          <h5>Order #<%= link_to order.id, merchant_order_path(order)%></h5>

          Placed On: <%= order.created_at.to_formatted_s(:long).slice(0..-6) %><br>
          Total Order Items: <%= order.total_item_count %><br>
          Order Total Price: $<%= '%.2f' % order.total_price %>
        </div>
      <% end %>
    </div>

    <div class="col s4">
      <% @orders_mid.each do |order| %>
        <div class="card-panel red">
          <h5>Order #<%= link_to order.id, merchant_order_path(order) %></h5>
          Placed On: <%= order.created_at.to_formatted_s(:long).slice(0..-6) %><br>
          Total Order Items: <%= order.total_item_count %><br>
          Order Total Price: $<%= '%.2f' % order.total_price %>
        </div>
      <% end %>
    </div>

    <div class="col s4">
      <% @orders_right.each do |order| %>
        <div class="card-panel red">
          <h5>Order #<%= link_to order.id, merchant_order_path(order) %></h5>
          Placed On: <%= order.created_at.to_formatted_s(:long).slice(0..-6) %><br>
          Total Order Items: <%= order.total_item_count %><br>
          Order Total Price: $<%= '%.2f' % order.total_price %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% if @dashboard %>
  <div class="row clearfix">
    <h4 class="left">Your Items</h4>
    <%= link_to "Add Item", new_item_path, class: "btn right", style: "margin-top: 1.52rem" %>
  </div>
<% else %>
  <h4>Items</h4>
<% end %>
<div class="row">
  <div class="col s4">
    <% @items_left.each do |item| %>
      <div id="item-<%=item.id%>" class="card horizontal red">
        <div class="card-image">
          <%= link_to item_path(item) do %>
            <%= image_tag item.image, {class: "item-#{item.id}-image", alt: "#{item.name}-image"} %>
          <% end %>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5><%=item.name%></h5>
            <p>
              Avaliable: <%=item.inventory%><br>
              Price: <%=number_to_currency(item.price)%>
            </p>
          </div>
          <% if @dashboard %>
            <div class="card-action center">
              <%= link_to "Edit", edit_item_path(item) %>
              <% if item.active %>
                <%= link_to "Disable", "/items/disable/#{item.id}", method: :post %>
              <% else %>
                <%= link_to "Enable", "/items/enable/#{item.id}", method: :post %>
              <% end %>
              <%= link_to "Delete", item_path(item), method: :delete %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col s4">
    <% @items_mid.each do |item| %>
      <div id="item-<%=item.id%>" class="card horizontal red">
        <div class="card-image">
          <%= link_to item_path(item) do %>
            <%= image_tag item.image, {class: "item-#{item.id}-image", alt: "#{item.name}-image"} %>
          <% end %>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5><%=item.name%></h5>
            <p>
              Avaliable: <%=item.inventory%><br>
              Price: <%=number_to_currency(item.price)%>
            </p>
          </div>
          <% if @dashboard %>
            <div class="card-action center">
              <%= link_to "Edit", edit_item_path(item) %>
              <% if item.active %>
                <%= link_to "Disable", "/items/disable/#{item.id}", method: :post %>
              <% else %>
                <%= link_to "Enable", "/items/enable/#{item.id}", method: :post %>
              <% end %>
              <%= link_to "Delete", item_path(item), method: :delete %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col s4">
    <% @items_right.each do |item| %>
      <div id="item-<%=item.id%>" class="card horizontal red">
        <div class="card-image">
          <%= image_tag item.image, {class: "item-#{item.id}-image", alt: "#{item.name}-image"} %>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5><%=item.name%></h5>
            <p>
              Avaliable: <%=item.inventory%><br>
              Price: <%=number_to_currency(item.price)%>
            </p>
          </div>
          <% if @dashboard %>
            <div class="card-action center">
              <%= link_to "Edit", edit_item_path(item) %>
              <% if item.active %>
                <%= link_to "Disable", "/items/disable/#{item.id}", method: :post %>
              <% else %>
                <%= link_to "Enable", "/items/enable/#{item.id}", method: :post %>
              <% end %>
              <%= link_to "Delete", item_path(item), method: :delete %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

<section>
  Merchant Statistics:<br>
  <br>
  <section id="merchant-stats">
    <div id="top-5-items-sold">
      Top 5 Items Sold:<br>
      <% @merchant_top_five_items_sold.each do |item| %>
        <%= item.name %>
        (sold <%= item.total_quantity %>)<br>
      <% end %><br>
    </div>
    <br>
    <div id="total-quantity-items-sold">
      Sold <%= @merchant_total_quantity_items_sold %> items, which is <%= @merchant_total_percentage_inventory_sold.round(2) %>% of your total inventory
    </div>
    <br>
    <div id="top-3-states-shipped">
      Top 3 States Shipped to:<br>
      <% @merchant_top_three_states_shipped.each do |state| %>
        <%= state.state %>
        (<%= state.order_count %> orders)<br>
      <% end %><br>
    </div>
    <br>
    <div id="top-3-cities-shipped">
      Top 3 Cities Shipped to:<br>
      <% @merchant_top_three_cities_shipped.each do |city| %>
        <%= city.city_state %>
        (<%= city.order_count %> orders)<br>
      <% end %><br>
    </div>
    <br>
    <div id="top-orders-customer">
      Most orders:<br>
      <% @merchant_top_orders_customer.each do |customer| %>
        <%= customer.name %>
        (<%= customer.order_count %> orders)<br>
      <% end %>
    </div>
    <br>
    <div id="top-items-customer">
      Most items:<br>
      <% @merchant_top_items_customer.each do |customer| %>
        <%= customer.name %>
        (<%= customer.item_count %> items)<br>
      <% end %>
    </div>
    <br>
    <div id="top-three-money-customers">
      Most money paid:<br>
      <% @merchant_top_three_money_customers.each do |customer| %>
        <%= customer.name %>
        ($<%= '%.2f' % customer.money_total %>)<br>
      <% end %>
    </div>
    <br>
  </section>
</section>
</div>
