<div class="container">
<h4><%="Logged in as: " if @merchant.merchant?%><%= @merchant.name %> (<%= @merchant.email %>)</h4>
<p style="margin-bottom: 2rem">
  <%= @merchant.address %><br>
  <%= @merchant.city %>,
  <%= @merchant.state %>
  <%= @merchant.zip %>
</p>

<%= link_to "Edit my Profile", profile_edit_path, class: "btn", style: "margin-bottom: 2rem" if @merchant.merchant? %>

<h4><%="Your " if @merchant.merchant?%>Orders</h4>
<br>
<% @merchant_orders.each do |order| %>
  Order #<%= order.id %><br>
  Placed On: <%= order.created_at.to_formatted_s(:long).slice(0...-6) %><br>
  Total Order Items: <%= order.total_item_count %><br>
  Order Total Price: $<%= '%.2f' % order.total_price %><br><br>
<% end %><br>
<br>


<div class="row">
  <div class="col s4">
    <% @items_left.each do |item| %>
      <div id="item-<%=item.id%>" class="card horizontal red">
        <div class="card-image">
          <%= image_tag item.image, {class: "item-#{item.id}-image", alt: "#{item.name}-image"} %>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5><%=item.name%></h5>
            <p>
              Avaliable: <%=item.inventory%><br>
              Price: <%=number_to_currency(item.price)%>
            </p>
          </div>
          <% if @merchant.merchant? %>
            <div class="card-action center">
              <%= link_to "Edit", edit_item_path(item) %>
              <% if item.active %>
                <%= link_to "Disable", "/items/disable/#{item.id}", method: :post %>
              <% else %>
                <%= link_to "Enable", "/items/enable/#{item.id}", method: :post %>
              <% end %>
              <%= link_to "Delete", item_path(item), method: :delete %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col s4">
    <% @items_mid.each do |item| %>
      <div id="item-<%=item.id%>" class="card horizontal red">
        <div class="card-image">
          <%= image_tag item.image, {class: "item-#{item.id}-image", alt: "#{item.name}-image"} %>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5><%=item.name%></h5>
            <p>
              Avaliable: <%=item.inventory%><br>
              Price: <%=number_to_currency(item.price)%>
            </p>
          </div>
          <% if @merchant.merchant? %>
            <div class="card-action center">
              <%= link_to "Edit", edit_item_path(item) %>
              <% if item.active %>
                <%= link_to "Disable", "/items/disable/#{item.id}", method: :post %>
              <% else %>
                <%= link_to "Enable", "/items/enable/#{item.id}", method: :post %>
              <% end %>
              <%= link_to "Delete", item_path(item), method: :delete %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col s4">
    <% @items_right.each do |item| %>
      <div id="item-<%=item.id%>" class="card horizontal red">
        <div class="card-image">
          <%= image_tag item.image, {class: "item-#{item.id}-image", alt: "#{item.name}-image"} %>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5><%=item.name%></h5>
            <p>
              Avaliable: <%=item.inventory%><br>
              Price: <%=number_to_currency(item.price)%>
            </p>
          </div>
          <% if @merchant.merchant? %>
            <div class="card-action center">
              <%= link_to "Edit", edit_item_path(item) %>
              <% if item.active %>
                <%= link_to "Disable", "/items/disable/#{item.id}", method: :post %>
              <% else %>
                <%= link_to "Enable", "/items/enable/#{item.id}", method: :post %>
              <% end %>
              <%= link_to "Delete", item_path(item), method: :delete %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

  Merchant Statistics:<br>
  <br>
  <section id="merchant-stats">
    <div id="top-5-items-sold">
      Top 5 Items Sold:<br>
      <% @top_five_items_sold.each do |item| %>
        <%= item.name %>,
        (sold <%= item.total_quantity %>)<br>
      <% end %><br>
    </div>
    <br>
</section>
</div>
