<div class="container">
<% if @cart.empty? %>
  <h5>Your cart is empty.</h5>
<% else %>
  <div class="row clearfix">
    <h3 class="cart-margins" style="display: inline-block">Your cart:</h3>
    <%= link_to "Empty", cart_path, method: :delete, class: "right btn cart-margins" %>
    <% if current_user %>
      <%= link_to "Check Out", checkout_path, method: :post, class: "right btn cart-margins", style: "margin-right: 2rem" %>
    <% else %>
      <p class="right cart-margins">You must <%= link_to "login", login_path %> or <%= link_to "register", register_path %> to check out.</p>
    <% end %>
  </div>
  <div class="row">
    <div class="col s4">
      <% @cart.items.each do |item,quantity| %>
        <div id="cart-item-<%=item.id%>" class="card horizontal red">
          <div class="card-image">
            <%= image_tag item.image, {class: "item-#{item.id}-image", alt: "#{item.name}-image"} %>
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <%=item.name%>: <%=quantity%><BR>
            </div>
            <div class="card-action center">
              <%= form_tag "/cart", method: "post" do |f| %>
                <%= hidden_field_tag :item_id, item.id %>
                <%= hidden_field_tag :adding, 0 %>
                <%= select_tag(:quantity, options_for_select(0..item.inventory)) %>
                <%= submit_tag "Change", class: "btn" %>
              <% end %>
              <br>
              <%= form_tag "/cart", method: "post" do |f| %>
                <%= hidden_field_tag :item_id, item.id %>
                <%= hidden_field_tag :adding, 0 %>
                <%= hidden_field :quantity, 0 %>
                <%= submit_tag "Remove", class: "btn" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
</div>
