<div class="container">
<h2 class="center-align">All Items</h2>

<div class="item-stats">
  <div class="row">
    <div class="col s6 most-popular">
      <h4>Most Popular:</h4>
      <ul>
      <% @most_popular.each do |result_set_item| %>
        <div class="card-panel clearfix red">
          <li>
            <h5 style="margin: 0; display: inline-block"><%= result_set_item.name %></h5>
            <h5 class="right" style="margin: 0"><%= result_set_item.total_quantity %> total purchases</h5>
          </li>
        </div>
      <% end %>
      </ul>
    </div>
  <div class="col s6 least-popular">
    <h4>Least Popular:</h4>
    <ul>
    <% @least_popular.each do |result_set_item| %>
      <div class="card-panel clearfix red">
        <li>
          <h5 style="margin: 0; display: inline-block"><%= result_set_item.name %></h5>
          <h5 class="right" style="margin: 0"><%= result_set_item.total_quantity %> total purchases</h5>
        </li>
      </div>
    <% end %>
    </ul>
  </div>
</div>

<div class="all-items">
  <div class="row">
    <div class="col s4">
      <% @items_left.each do |item| %>
        <div class="item-<%= item.id %>-info card hoverable-dark red">
          <div class="card-image">
            <%= link_to item_path(item) do %>
              <%= image_tag item.image, {class: "item-#{item.id}-image", alt: "#{item.name}-image"} %>
            <% end %>
          </div>
          <div class="card-content">
            <span class="card-title"><%= link_to item.name, item_path(item), class: "white-text" %></span>
            <p>Seller: <%= item.user.name %></p>
            <p>Available: <%= item.inventory %></p>
            <p>Price: <%= number_to_currency(item.price)%></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col s4">
      <% @items_mid.each do |item| %>
        <div class="item-<%= item.id %>-info card hoverable-dark red">
          <div class="card-image">
            <%= link_to item_path(item) do %>
              <%= image_tag item.image, {class: "item-#{item.id}-image", alt: "#{item.name}-image"} %>
            <% end %>
          </div>
          <div class="card-content">
            <span class="card-title"><%= link_to item.name, item_path(item), class: "white-text" %></span>
            <p>Seller: <%= item.user.name %></p>
            <p>Available: <%= item.inventory %></p>
            <p>Price: <%= number_to_currency(item.price)%></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col s4">
      <% @items_right.each do |item| %>
        <div class="item-<%= item.id %>-info card hoverable-dark red">
          <div class="card-image">
            <%= link_to item_path(item) do %>
              <%= image_tag item.image, {class: "item-#{item.id}-image", alt: "#{item.name}-image"} %>
            <% end %>
          </div>
          <div class="card-content">
            <span class="card-title"><%= link_to item.name, item_path(item), class: "white-text" %></span>
            <p>Seller: <%= item.user.name %></p>
            <p>Available: <%= item.inventory %></p>
            <p>Price: <%= number_to_currency(item.price)%></p>
          </div>
        </div>
      <% end %>
    </div>
</div>
</div>
