<h2>All Items</h2>

<section class="item-stats">
  <div class="most-popular">
    <ul>Most Popular:
    <% @most_popular.each do |result_set_item| %>
      <li><%= result_set_item.name %>, <%= result_set_item.total_quantity %> total purchases</li>
    <% end %>
    </ul>
  </div>
  <div class="least-popular">
    <ul>Least Popular:<br>
    <% @least_popular.each do |result_set_item| %>
      <li><%= result_set_item.name %>, <%= result_set_item.total_quantity %> total purchases</li>
    <% end %>
    </ul>
    </div>
</section>

<section class="all-items">
  <% @items.each do |item| %>
    <div class="item-<%= item.id %>-info">
      <h4><%= link_to item.name, item_path(item) %></h4>
      <%= link_to item_path(item) do %>
        <%= image_tag item.image, {class: "item-#{item.id}-image", alt: "#{item.name}-image"} %>
      <% end %>
      <p>Seller: <%= item.user.name %></p>
      <p>Available: <%= item.inventory %></p>
      <p>Price: <%= number_to_currency(item.price)%></p>
    </div>
  <% end %>
</section>
